.create-task {
  max-width: 400px;
  margin: 5em auto;
  border: 1px double #05299e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #a6d9f7;
}

.create-task-form {
  padding: 10px;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
}

.create-task-form label {
  margin-bottom: 0.5em;
}

.create-task-form_input {
  margin-bottom: 1em;
  width: 15em;
  padding: 5px;
  border-width: 1.5px;
  border-style: solid;
  box-sizing: content-box;
}

.create-task-form_select {
  padding: 5px;
  margin-bottom: 1em;
  width: 15em;
  border-width: 1.5px;
  border-style: solid;
  box-sizing: content-box;
  align-self: center;
}

.create-task-form_button {
  background-color: #fdfffc;
  margin-top: 10px;
  border: 0.1em outset #05299e;
  width: 6em;
  align-self: center;
}

.create-task-form button:hover {
  background-color: #05299e;
  color: #fdfffc;
}

.create-task-form button:active {
  transform: scale(0.98);
  box-shadow: 1px 0.5px 0.5px rgb(60, 59, 59);
}
