@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.landing-page-container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to bottom,
      rgba(115, 115, 225, 0.835),
      rgba(63, 63, 179, 0.493)
    ),
    url("../images/LandingPageBackground.jpg");
  background-size: cover;
  color: #fffcf7;
  font-family: Rubik;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 6em;
}

.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  font-size: 5em;
  margin: 0 auto;
  letter-spacing: 0.2em;
  animation: typing 3s steps(120, end);
  padding-top: 3em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

.login-prompt-blurb {
  font-size: 1.5em;
  color: transparent;
}

.fade-in p {
  animation: appear 3s steps(80, end) 3s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    color: transparent;
  }
  to {
    color: #fffcf7;
  }
}
