.task-card.High {
  background-color: rgba(242, 99, 99, 0.914);
}

.task-card.Medium {
  background-color: rgb(240, 240, 117);
}

.task-card.Low {
  background-color: rgb(110, 213, 110);
}

.task-card {
  border: 1px solid black;
  border-radius: 5px;
  max-width: fit-content;
  padding: 15px 15px;
}

.task-card_title {
  font-size: 25px;
  text-decoration-line: underline;
}

.task-card_priority_level {
  font-size: 18px;
  padding-top: 10px;
}

.task-card_due_date {
  padding-top: 10px;
}

.task-card_details {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px dotted black;
}

.task-card_comments input {
  border-radius: 5px;
}

.task-card_comments button {
  margin-top: 10px;
  margin-left: 10px;
  border: 2px outset black;
  border-radius: 5px;
  padding: 1px 5px;
}
