.task-card.High {
  background-color: rgba(242, 99, 99, 0.914);
}

.task-card.Medium {
  background-color: rgb(240, 240, 117);
}

.task-card.Low {
  background-color: rgb(110, 213, 110);
}

.task-card {
  border: 1px solid black;
  border-radius: 5px;
  max-width: fit-content;
  padding: 15px 15px;
}

.task-card_title {
  font-size: 25px;
  text-decoration-line: underline;
}

.task-card_priority_level {
  font-size: 18px;
  padding-top: 10px;
}

.task-card_due_date {
  padding-top: 10px;
}

.task-card_details {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px dotted black;
}

.task-card_comments input {
  border-radius: 5px;
}

.status-select {
  margin-top: 5px;
  width: fit-content;
  padding: 1px 2px;
  border-radius: 5px;
  border-width: 1.5px;
  border-style: solid;
  box-sizing: content-box;
}

.status-button {
  margin-top: 5px;
  border: 1px outset black;
  border-radius: 5px;
  padding: 1px 5px;
  box-shadow: 2px 1px 1px rgba(119, 117, 117, 0.675);
}

.status-button:active {
  transform: scale(0.98);
  box-shadow: 1px 0.5px 0.5px rgba(60, 59, 59, 0.486);
}

.comments-input {
  margin-top: 5px;
  border-radius: 5px;
  border-width: 1.5px;
  border-style: solid;
  padding-bottom: 30px;
  height: 17px;
}

.comments-button {
  margin-top: 5px;
  border: 1px outset black;
  border-radius: 5px;
  padding: 1px 5px;
  box-shadow: 2px 1px 1px rgba(119, 117, 117, 0.675);
}

.comments-button:active {
  transform: scale(0.98);
  box-shadow: 1px 0.5px 0.5px rgba(60, 59, 59, 0.486);
}

.delete-button {
  background-color: red;
  margin-top: 5px;
  border: 1px outset black;
  border-radius: 5px;
  padding: 1px 5px;
  box-shadow: 2px 1px 1px rgba(119, 117, 117, 0.675);
}

.delete-button:active {
  transform: scale(0.98);
  box-shadow: 1px 0.5px 0.5px rgba(60, 59, 59, 0.486);
}
