.task-card-content{
  display: grid;
  margin-left: 150px;
  transition: margin-left 0.5s;
  margin-top: 30px;
  grid-column-start: 2;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  max-width: 1440px;
}

.side-bar.collapsed + .task-card-content {
  margin-left: 120px;
}

.side-bar.expanded + .task-card-content {
  margin-left: 200px;
}

.side-bar{
  width: 150px;
}

.side-bar.collapsed{
  width: 80px;
}
