.task-card-content {
  display: grid;
  margin-left: 150px;
  transition: margin-left 0.5s;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1440px;
}

.side-bar.collapsed + .task-card-content {
  margin-left: 120px;
}

.side-bar.expanded + .task-card-content {
  margin-left: 200px;
  margin-right: -80px;
}

.side-bar {
  width: 150px;
}

.side-bar.collapsed {
  width: 80px;
}

@media screen and (max-width: 768px) {
  .task-card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .side-bar {
    display: none;
  }

  .side-bar.collapsed + .task-card-content {
    margin-left: 30px;
  }
}
